.form_addAuthor{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form_addAuthor button{
    font-size: 15px;
    width: 150px;
    height: 35px;
    margin: 0 auto;
}